/* Global css */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

img{
    max-width: 100%;
}

/* common css */
.container{
    padding: 30px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 16px 25px;
    border-radius: 6px;
    background-color: white;
    color: red;
}
.btn:hover{
    background-color: white;
    color: red;
}
.fa-solid{
    padding-left: 10px;
}

/* Hero section css */
.hero{
    width: 950px;
    height: 637px;
    padding: 0 75px 0 75px;
    border-radius: 30px;
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.hero > * {
    flex-basis: 100%;
}
.info{
    text-align: left;
}

.hero h2{
    font-weight: 600;
    font-size: 70px;
    margin: 0;
    line-height: 1.3em;
}
.hero p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    padding-bottom: 20px;
}

.btn1{
    background-color: red;
    color: white;
    border: 0;
}
.live{
    text-decoration: none;
    color: #ffffff;
}

.show{
    display: flex;
    align-self: flex-end;
}

/* END */

/* Hero section tablet css */
@media(max-width:768px){
    .container{
        padding: 30px 30px 50px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero{
        width: 700px;
        height: 500px;
        padding: 0 40px;
    }
    .hero > * {
        flex-basis: 100%;
    }
    .hero h2 {
        font-weight: 600;
        font-size: 40px;
        margin: 0;
        line-height: 1.2;
    }
    .hero p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.4;
    }
}

/* Hero section tablet END */

/* Hero section Mobile START*/

@media (max-width: 576px) {
    .hero{
        height: 650px;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info{
        text-align: center;
    }
    .hero h2 {
        font-weight: 600;
        font-size: 35px;
        margin: 0;
        line-height: 1.2;
    }
     
}
/* Hero section Mobile END */

/* Blog section Big device START */
.sec-container{
    padding: 30px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blogs{
    width: 1100px;
    display: grid;
    gap: 20px;
    grid-template-columns: 300px 1fr;
}
/* .category{
    height: 100vh;
} */
.indicator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #161616;
    padding: 30px;
    border-radius: 10px;
    gap: 10px;
}

.all-blogs{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
}

.data{
    padding: 10px;
}
.meta{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blog{
    border-radius: 13px;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.75);
}
.time{
    display: flex;
    justify-content: flex-start;

}
.cmnt{
    display: flex;
    justify-content: flex-start;
}
/* Blog section Big device END */

/* Blog section Tablet Start */
@media(max-width:768px){
    .blogs{
        width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .indicator{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #ffffff;
    }
    .blog-btn {
        width: 30%;
        box-shadow: 0 0 1px 0 rgb(0 0 0 / 75%);
        border: 1px;
        border-radius: 6px;
    }
    .category{
        height: auto;
    }
    .all-blogs{
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        padding: 0 30px;
    }
    .blog{
        display: flex;
        flex-direction: column;
    }
}
/* Blog section tablet END */

/* Blog section Mobile START */
@media (max-width: 576px){
    .indicator{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #ffffff;
    }
    .blog-btn {
        width: 80%;
        margin: auto;
        box-shadow: 0 0 1px 0 rgb(0 0 0 / 75%);
        border: 1px;
        border-radius: 6px;
    }
    .all-blogs {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 30px;
    }
}
/* Blog section Mobile END */

/* Footer START */
.footer{
    height: 440px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.footer h2{
    text-align: center;
}
.footer hr{
    width: 1100px;
    margin-bottom: 20px;
}
.footer a{
    display: block;
    text-decoration: none;
    color: #ffffff;
}
.item{
    display: flex;
    gap: 40px;
    font-weight: 200;
}
/* Footer END */

/* Footer Tablet START */
@media(max-width:768px){
    .footer{
        height: 340px;
    }
    .footer hr{
        width: 600px;
    }
    .item{
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        justify-content: center;
    }
}
/* Footer Tablet END */
/* Footer Mobile START */
@media (max-width: 576px){
    .footer{
        padding: 20px 0;
    }
    .footer hr{
        width: 330px;
    }
    .item{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}
/* Footer Mobile END */

/* Match page css START */
.matches {
    border: 1px solid #00000010;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
}
.flag {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team h3{
    margin: 0;
}
.team p{
    font-weight: lighter;
}